*{
  font-family: 'Poppins', sans-serif;
}

@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';


 nav ul li{
  display: inline;
  text-align: center;
  padding: 75px;
  color: black;
}

ul{
  text-align: center;
  padding: 10px;
}
.contact-me{
 border: 1px solid black;
 border-radius: 30px;
 width: fit-content;
}

.header{
  margin-top: 170px;
  margin-left: 172px;
  font-family: 'Poppins', sans-serif;
}
.circle {
  width: 120px; /* Adjust the width and height to control the size of the circle */
  height: 120px;
  border-radius: 50%; /* Set border-radius to 50% to create a circle */
  background-color: purple; /* Set the background color to purple */
  margin-left: 128px;
  margin-top: -20px;
}
.socials img{
  width:30px;
  padding: 6px;
  border: 1.8px solid #065c04;
  padding: 6px;
  border-radius: 24px;
}
.socials {
  margin-left: 85px;
  margin-top: 40px;

}

.socials img:hover{
  background-color: black;
}

.down-arrow img{
  margin: 0 645px;
  align-items: center;
}
.me img{
  width: 540px;
  height: 578px;
  background: linear-gradient(to top, rgb(4, 54, 4) 50%, #fff 50%); /* Define the gradient */
  border-radius: 70%;
  margin-top: 11px;
}

.me{
  position: absolute;
  right:2px;
  top:60px;
}

.Hire-me-btn {
  background-color: #065c04;
  padding:12px 70px 12px 70px;
  color: #fff;
  border-radius: 25px;
}
.Hire-me-btn:hover{
 color: black;
}
a{
  text-decoration: none;
}

.KicksKart{
  display: flex;
}

.KicksKart img{
  width: 700px;
  margin-left: 70px;
  margin-top: 100px;
}

.KicksKart h1{
  margin-left: 242px;
  margin-top: 100px;

}

.info{
}

.info p{
  margin-left: 70px;

}
.tech-stack{
  margin-top: 90px;
  padding:15px
}
.tech-stack img{
  width:80px;
  padding: 30px;
}
.background-image{
    width: 100%; /* Set the width to 100% */
    padding-bottom: 35%; /* Set the padding to create the square aspect ratio */
    padding-top: 0px;
    background-image: url(https://images.unsplash.com/photo-1545989253-02cc26577f88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80); /* Add background color to see the square */
  }
  h2{
    padding:10px;
  }
.info p{
  margin-top: 40px;
  margin-right: 10px;
}
.me-image{
  display: flex;
}

.certificate-image{
}
.bg{
  width: 500px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 100px;
}

/* Dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu when the user clicks on the button */
.dropdown:hover .dropdown-content {
  display: block;
}
a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  width: fit-content;
}

a.active{
  color: #0e3d0d;
  font-size: larger;
  border-bottom: 1.5px solid #065c04;
}
/* Customize the scrollbar */
/* For WebKit browsers (Chrome, Safari, newer Edge) */
/* You can add other vendor prefixes for specific browsers if needed */
/* Note: Scrollbar customization may not work on all browsers */

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Style the thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #4CAF50; /* Color of the thumb */
  border-radius: 5px; /* Border radius of the thumb */
}

/* Style the track (background) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

/* Style the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb when hovered */
}
p#typing-paragraph{
  width: 432px;
}
